<a href="https://colab.research.google.com/github/Remilekun54/100-Days-Of-ML-Code/blob/master/AI_Invasion_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data types in python

In [ ]:
# Integer
number = 20
result = number / 2
print(result)

10.0

In [ ]:
# String
sentence_one = "Raising 1 million AI talents"
sentence_two = "and building AI solutions to enhance the quality of lives of 2 billion people in emerging market"
print(sentence_one, sentence_two, sep=" ")

Raising 1 million AI talents and building AI solutions to enhance the quality of lives of 2 billion people in emerging market

In [ ]:
# Float
decimal_number = 3.14
radius = 2.4
Area_of_circle = decimal_number * (2.4 **2)
print(Area_of_circle)

18.0864

In [ ]:
# List
names = ["Tolu", "Uche", "Musa"]
names.append("John")
print(names)

['Tolu', 'Uche', 'Musa', 'John']

In [ ]:
# Tuple
names_tuple = ("Tolu", "Musa", "Tolu")
print(names_tuple)

('Tolu', 'Musa', 'Tolu')

In [ ]:
# Set
names_set = {"Ade", "Bayo", "Ali", "Ngozi"}
names_set.add("Baki")
names_set.add("Ade")
print(names_set)

{'Ngozi', 'Baki', 'Ali', 'Ade', 'Bayo'}

In [ ]:
# If Statement
# if expression:
#    Statement

age = 20
if age > 10:
  print(f"His age is {age}")

His age is 20

## Conditional Statement

In [ ]:
# If else Statement
# if condition :
#    Will executes this block if the condition is true
# else :
#    Will executes this block if the condition is false

age = 20
if age > 10:
  print(f"His age is {age}")
else:
  print("He too young to play football")

# you can change the value of age
# and see what happends

His age is 20

## Fuction

In [ ]:
# function
# create a functions named "count_letters" 
# that count number of letters in a string
def count_letters(word):
  counter = len(word)
  return counter

print(count_letters("Simi"))

4